* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #eee;
}

#header {
	position: fixed;
	top: 0;
	z-index: 10;
}

header {
	position: fixed;
	height: 50px;
	padding: 10px;
	width: 100%;
	overflow: hidden;
	border-color: yellow;
}

#main {
	z-index: 5;
	position: absolute;
	top: 50px;
	width: 100%;
}

#video {
	width: 650px;
	height: 366px;
}

aside {
	display: inline-block;
	float: right;
	width: 38%;
	display: inline;
	border-color: green;
}

section {
	position: absolute 50px;
	width: 100%;
	justify-content: center;
	display: inline-block;
	border-color: blue;
	background-color: #eee;
	padding: 30px;
}

article {
	display: inline-block;
	border-color: red;
	width: 650px;
	justify-content: center;
	padding: auto;
	margin: auto;
	float: left;
	background-color: #eee;
	text-align: left;
}

.description {
	margin: 5px 0;
	padding: 5px;
}

.author {
	padding: 0;
	margin: 5px;
	height: 50px;
}

#author_info {
	display: inline-block;
}

#subscribe_btn {
	padding: 5px 0 0 0;
	border: 1px solid black;
	width: 150px;
	display: inline-block;
}

h3 {
	font-weight: 500;
	margin: 5px;
}

br {
	height: 10px;
}

footer {
	padding: 20px;
	position: absolute;
	bottom: 0;
}

hr {
	margin: 15px 5px;
	color: #eee;
	background-color: #eee;
}

p {
	font-size: 10pt;
	padding: 3px 0 0 0;
}

#more {
	justify-content: center;
	color: #999;
}

#more_hr {
	margin: 5px;
}